@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject WeavyJsInterop wvy
@using Telerik.Blazor

<AuthorizeView>
    <Authorized>
        <div class="container text-center my-5">
            <h1>Welcome @Username!</h1>
            <h2>Our latest poll</h2>
        </div>
        <TelerikChart>
            <ChartTitle Text="What is you favourite sport?"></ChartTitle>
            <ChartLegend Visible="true" Position="ChartLegendPosition.Top"></ChartLegend>

            <ChartSeriesItems>
                <ChartSeries Type="ChartSeriesType.Donut"
                             Data="@Data"
                             Field="@nameof(ModelData.Value)"
                             CategoryField="@nameof(ModelData.Category)">
                    <ChartSeriesTooltip Visible="true" Context="item">
                        <Template>
                            @item.Percentage.ToString("P")
                        </Template>
                    </ChartSeriesTooltip>
                    <ChartSeriesLabels Position="ChartSeriesLabelsPosition.OutsideEnd"
                                       Visible="true"
                                       Background="transparent"
                                       Template="#= dataItem.Category # - #= percentage*100 #%">
                    </ChartSeriesLabels>
                </ChartSeries>
            </ChartSeriesItems>

        </TelerikChart>
    </Authorized>
    <NotAuthorized>
        <div class="container text-center my-5">
            <h1>Weavy ❤ Telerik Blazor UI</h1>
            <div class="mb-3">Please click one of the buttons below to login.</div>
            <NavLink class="btn btn-primary" href="login?username=oliver">Oliver</NavLink>
            <NavLink class="btn btn-success" href="login?username=lilly">Lilly</NavLink>
            <NavLink class="btn btn-info" href="login?username=adam">Adam</NavLink>
            <NavLink class="btn btn-warning" href="login?username=samara">Samara</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    string Username = String.Empty;
    ClaimsPrincipal user;

    protected override async Task OnInitializedAsync() {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        Username = user.Identity.Name;
    }

    public class ModelData {
        public string Category { get; set; }
        public Int32 Value { get; set; }
    }

    public List<ModelData> Data = new List<ModelData>() {
        new ModelData() { Category = "Football", Value = 35 },
        new ModelData() { Category = "Basketball", Value = 25 },
        new ModelData() { Category = "Volleyball", Value = 20 },
        new ModelData() { Category = "Rugby", Value = 10 },
        new ModelData() { Category = "Tennis", Value = 10 },

    };
}