@using Microsoft.AspNetCore.Components.Authorization
@using System.Text.Json;
@using System.Security.Claims
@implements IDisposable
@inject ChatService ChatService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JS

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Weavy ❤ Telerik Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="oi oi-chat" aria-hidden="true"></span> Chat <span class="badge bg-danger ml-2">@conversations</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="files">
                <span class="oi oi-folder" aria-hidden="true"></span> Files
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chart">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Chart
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                <span class="oi oi-person" aria-hidden="true"></span> Profile
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="notifications">
                <span class="oi oi-bell" aria-hidden="true"></span> Notifications <span class="badge bg-danger ml-2">@notifications</span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private ClaimsPrincipal user;
    private int? conversations;
    private int? notifications;
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }

    // invoked when the component is initialized after having received its initial parameters
    protected override async Task OnInitializedAsync() {
        // grab current user
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        // get initial badge data
        var badge = await ChatService.GetBadgeAsync();
        conversations = (badge?.conversations ?? 0) > 0 ? badge.conversations : null;
        notifications = (badge?.notifications ?? 0) > 0 ? badge.notifications : null;
    }

    // called after a component has finished rendering
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender && user.Identity.IsAuthenticated) {
            // connect to weavy for listening to realtime events
            await JS.InvokeVoidAsync("wvy.interop.connect");
            // add event handler for badge events
            Realtime.OnBadge += HandleBadge;
        }
    }

    // define event handler for badge event
    void HandleBadge(object sender, BadgeEventArgs e) {
        Console.WriteLine($"NavMenu received badge event");
        var badge = e.Data;
        conversations = (badge?.conversations ?? 0) > 0 ? badge.conversations : null;
        notifications = (badge?.notifications ?? 0) > 0 ? badge.notifications : null;
        StateHasChanged();
    }

    public void Dispose() {
        // remove event handlers
        Realtime.OnBadge -= HandleBadge;
    }
}
